@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100;1,600&family=Tangerine&display=swap');/*Kanit*/

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap'); /* Sacramento */

@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,300;1,400&display=swap'); /*Mali*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap'); /* Cinzel */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(100, 100, 100);
}

#cabeca{
    height: 80px;
    background-color: rgb(36, 36, 36);
    text-align: center;
}
@media (max-width: 400px){
    #cabeca{
        height: 110px;
    }
}
#cabeca h1{
    font-family: 'Cinzel', serif;
}
#cabeca, h1 p{
    color: aliceblue;
}
.linkheader{
    text-decoration: none;
    color: white;
}
.linkheader:hover{
    background-color: wheat;
    color: rgb(36, 36, 36);
    border-radius: 5px;
}
@media (max-width: 500px){
    #container{
        font-size: 20px;
    }
}
main{
    margin: auto;
    background-color: white;
    min-height: 700px;
    max-width: 800px;
    width: 100%;
    text-align: left;
    border-radius: 10px;
    height: 100%;
}
.textocordel{
    padding: 10px;
    font-family: 'Mali';
    font-size: 20px;
    word-spacing: 5px;
    padding-right: 5%;
}
.textocordel2{
    padding: 10px;
    font-family: 'Mali';
    font-size: 20px;
    word-spacing: 5px;
    color: white;
    
}
.quadrado{
    background-color: rgba(0, 0, 0, 0.603);
    margin-right: 50%;
    border-radius: 5%;
}
#rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(36, 36, 36);
    height: 50px;
    font-family: 'Cinzel';
}
.linkfooter{
    text-decoration: none;
    color: white;
}
.linkfooter:hover{
    background-color: wheat;
    color: rgb(36, 36, 36);
    border-radius: 5px;
}
.cordelpt2{
    background-image: url(imagens/wall1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    padding: 5%;
}
.cordelpt4{
    background-image: url(imagens/wall2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    padding: 5%;
    margin-bottom: 5%;
}
.textocordelfoot{
    font-family: 'Cinzel';
    font-weight: 500;
    color: black;
    border-radius: 1px;
    text-align: center;
}